@model Car_Agency.Models.Car

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/css/all.min.css" rel="stylesheet">
    <link href="~/Content/css/normalize.css" rel="stylesheet">

    <link href="~/Content/css/Proj6.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,700&family=Open+Sans:wght@300;400;700&display=swap"
          rel="stylesheet">
    <title>Add Product Page</title>
    <script>
        var Cars = {
            BMW: ["BMW 1 Series", "BMW 2 Series Coupé", "BMW i4 M50", "BMW Z4", "BMW X5"],
            Mercedes: ["A 220 Sedan", "S 500 4MATIC Sedan", "S 580 4MATIC Sedan", "GLS 450 SUV", "Mercedes-Maybach GLS 600 SUV"],
            Volvo: ["Estate V60", "SUV XC40", "SUV XC60", "SUV XC90"],
            Chevrolet: ["Chevrolet Lanos", "Chevrolet Optra", "Chevrolet Cruze", "Chevrolet Captiva", "Chevrolet Malibu"],
            Toyota: ["Glanza", "Urban Cruiser", "Fortuner", "Innvoa Crysta", "Vellfire"]
        }

        var Model = document.getElementById("Car_Model");

        var Name = document.getElementById("Car_Name");

        Model.addEventListener("change", function Check2() {

            var selected = Cars[this.value];

            while (Name.options.length > 0) {
                Name.options.remove(0);
            }

            Array.from(selected).forEach(function (el) {

                let option = new Option(el, el);

                Name.appendChild(option);

            });

        });
    </script>
</head>

<body>
    <div class="header-product">
        <div class="container">
            <img src="~/Content/photos/logo.png" alt="logo">
            <div class="links">
                <span class="icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <ul>
                    <li>@Html.ActionLink("Home", "Main", "Home")</li>
                    <li>@Html.ActionLink("Products", "Operation", "Home")</li>
                    <li>@Html.ActionLink("Operation", "Operation", "Home")</li>
                    <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="add">
        <div class="container">
            <h2 class="special-heading-add">Add Product Page</h2>
            <div class="content">
                <form action="add">
                    <select name="Car_Model" id="Car_Model" aria-placeholder="Car Model" class="main-input" required>
                        <option value="BMW">
                            BMW
                        </option>
                        <option value="Mercedes">
                            Mercedes
                        </option>
                        <option value="Volvo">
                            Volvo
                        </option>
                        <option value="Chevrolet">
                            Chevrolet
                        </option>
                        <option value="Toyota">
                            Toyota
                        </option>
                    </select>
                    <select name="Car_Name" id="Car_Name" aria-placeholder="Car Name" class="main-input">
                        <option></option>
                    </select>
                    <input type="number" id="Car_Price" name="Car_Price" placeholder="Car Price" min="0"
                           class="main-input" required />
                    @Html.TextBoxFor(n => n.Car_Licence, new { placeholder = "Car Licnese ", @class = "main-input" })
                    @Html.ValidationMessageFor(n => n.Car_Licence, "", new { @class = "text-danger", @style = "color : white" })
                    @Html.DropDownListFor(n => n.Supp_ID, (SelectList)ViewBag.Suppliers, new { placeholder = "Supplier Name", @class = "main-input" })
                    @Html.ValidationMessageFor(n => n.Supp_ID, "", new { @class = "text-danger" })

                    <input type="submit" id="submit" value="Add Product" class="submit" />
                </form>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <p class="copyright"> &copy; 2022 - All Rights Reserved - Muhammad Gomaa</p>
            <div class="social-icons">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $("#submit").click(function () {
            var model = $("#Car_Model").val();
            var name = $("#Car_Name").val();
            var price = $("#Car_Price").val();
            var license = $("#Car_Licence").val();


            if (model == "" || name == "" || price == "" || license == "") {
                swal({
                    title: "Fields Empty",
                    text: "Please Complete The Required Information",
                    icon: "warning",
                    button: "OK",
                });
            }
            else if (license.length < 6) {
                swal({
                    title: "Invalid License Car",
                    text: "Must be contain letters , numbers and 6 to 8 Digits",
                    icon: "warning",
                    button: "OK",
                });
            }
            else {
                swal({
                    title: "Are you sure?",
                    text: "Add Product Information",
                    icon: "warning",
                    buttons: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            swal("", {
                                icon: "success",
                                text: "Successfully Added",
                            });
                        }
                        else {
                            swal("Cancelled Operation");
                        }
                    });
            }

        })
    </script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>

</html>